.fas {
    margin-left: -7.5px;

    @include mediaSm {
        display: none;
    }
}

#city {
    @include mediaSm {
        margin-top: 10px;
        margin-left: 0em;
        padding-bottom: 10px;
    }
}